.shell {
  display: flex;
  height: 100vh;
  background: var(--background);
}

.main {
  position: relative;
  flex: 1 1 0%;
  overflow: hidden;
}

.overlayEntrypoint {
  position: absolute;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
}
